{
    "presets": [
        ["next/babel", {
            "preset-env": {
                "modules": "commonjs"
            }
        }]
    ],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import"]
}